{
    email {$EMAIL}
}

damonpyo.mooo.com {
    handle /api/ble/report {
        reverse_proxy ble-server:3001
    }
    handle {
        reverse_proxy app:3000
    }
}

honnol.org {
    handle /api/ble/report {
        reverse_proxy ble-server:3001
    }
    handle {
        reverse_proxy app:3000
    }
}
  item.damonpyo.mooo.com {                                                                      
      basicauth {                                                                               
          arang $2a$14$vtVgGA19Hk6RZLQnmiIiQeVCux./9u9Lnfes36OOInlasdSxpz6ji
      }                                                         
      handle /api/* {                                                                           
          uri strip_prefix /api
          reverse_proxy host.docker.internal:8001                                               
      }                                                                                         
      reverse_proxy host.docker.internal:3001
  }                                                                                             
           