{
    email {$EMAIL}
}

damonpyo.mooo.com {
    handle /api/ble/report {
        reverse_proxy ble-server:3001
    }
    handle {
        reverse_proxy app:3000
    }
}

honnol.org {
    handle /api/ble/report {
        reverse_proxy ble-server:3001
    }
    handle {
        reverse_proxy app:3000
    }
}
